body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: 15px;
  color: #333;
}


h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Anton', cursive;
  font-weight: normal;
}

h1 {
  font-size: clamp(40px, 15vw, 110px);
}

h2 {
  font-size: 30px;
}

.spacer.v20 {
  height: 20px;
}

.spacer.v40 {
  height: 40px;
}

.spacer.v50 {
  height: 50px;
}

.spacer.v100 {
  height: 100px;
}


.clear {
  clear: both;
}


#promo,
#subscribe,
#footer {
  text-align: center;
  color: #fff;
  width: 100%;
}

#promo {
  background-color: #F46036;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  transition: transform 0.3s ease;
}

#promo>div {
  padding: 15px;
}

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}


#topMenu {
  height: 60px;
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-hidden {
  transform: translateY(-200px);
}

#topLinks {
  float: right;
  margin-top: 20px;
}

#topLinks ul,
#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#topLinks li {
  float: left;
}
#topLinks li a {
  color: #333;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
#topLinks li a:hover {
  color: #4392F1;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  text-decoration: underline;
}
#topMenu .logo {
  float: left;
  padding-top: 13px;
  font-size: 24px;
  color: #333;
  text-decoration: underline;
}
#topMenu .logo:hover {
  color: #4392F1;
}

.logo {
  font-family: 'Anton', cursive;
}

#banner {
  background-image: url(Images/favicon.png);
  background-repeat: no-repeat;
  background-position: center 120px;
  width: 100%;
  text-align: center;
  padding-top: 240px;
  color: #333;
}

#banner .tagline {
  padding-bottom: 20px;
  padding-top: 0px;
}

#banner .logo {
  margin-top: 0px;
}

#banner #action a {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  padding: 20px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background-color: #4392F1;
}

#banner #action a:hover {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: #F46036;
  padding: 20px 40px;
}

.feature {
  display: flex;
  align-items: center;
  margin-top: 80px;
  flex-wrap: wrap;
}

.feature .leftColumn {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature .rightColumn {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature .leftColumn .text,
.feature .rightColumn .text {
  padding: 20px;
  min-height: 260px;
}

.feature .leftColumn .text a,
.feature .rightColumn .text a {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  padding: 15px;
  background-color:  #4392F1;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  white-space: nowrap;
}

.feature .leftColumn .text a:hover,
.feature .rightColumn .text a:hover {
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: #F46036;
  text-decoration: none;
  padding: 15px 30px;
}

.feature hr {
  background-color: #333;
  height: 1px;
  border: 0;
  width: 50px;
}

.featureImage .img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.featureImage img {
  max-width: 100%;
  height: auto;
}

#subscribe {
  background-color: #4392F1;
  padding: 60px 0;
  width: 100%;
}

#subscribe .wrap {
  padding: 0 20px;
}

#subscribe h2 {
  margin: 15px 0px 20px 0px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#subscribe form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

#subscribe input[type = text] {
  border: 0;
  width: 250px;
  max-width: 100%;
  height: 28px;
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 30px;
  flex: 1;
  min-width: 200px;
}

#subscribe .submitButton a {
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  border: 0;
  min-width: 80px;
  height: 30px;
  font-size: 14px;
  padding: 0 15px;
  background-color: #345995;
  color: white;
  border-radius: 30px;
  white-space: nowrap;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

#subscribe .submitButton a:hover {
  background-color: #F46036;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

#footer {
  background-color: #F46036;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

#footer .wrap {
  padding: 0 20px;
}

#footer ul {
  list-style-type: none;
  margin: 28px 0 0 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

#footer li {
  float: left;
}

#footer li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  -webkit-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  transition: all 250ms linear
}


#footer li a:hover {
  color: #333;
  -webkit-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

#copyright {
  text-align: center;
  background-color: #345995;
  color: white;
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
}

#copyright .wrap {
  padding: 0 20px;
}

#copyright .logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
